body{
    height: 100%;
    background-color: #f5f7fb;
}
.card{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    padding: 20px;
    margin-top: 20%;
    margin-bottom: 10%;
}
.card-title{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: center;
}
.form-footer{
    margin-top: 50px;
}